
#environement {
    width : 700px;
    height : 1100px;
}

html, body {
    position: relative;
    height: 100%;
    background-color: black;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height:100%;
}

@media only screen and (min-width:100px) and (max-width:500px){
    img{
        width: 100%;
        height:100%;
    }
}

#divimage {
    width : 1000px;
    height : 1500px;
}

img{
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
