/* 3 Description */
html {
    /*position: relative;
    width: 2048px;
    height: 1536px;
    */
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    background: #000000;    
}

/* ORNITHOPUS */
#ornithopus {
    position: absolute;
    width: 454px;
    height: 78px;
    left: 154px;
    top: 163px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* mes caracteristiques */
#caracteristiques {
    position: absolute;
    width: 623px;
    height: 59px;
    left: 154px;
    top: 255px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

p {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 52px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

/* Des mes origines à ma vie d'adulte, j’ai vecu plusieres transformatons: */
p#origine {
    width: 797px;
    height: 104px;
    left: 154px;
    top: 368px;
}
/* Quand j’arrive a maturité, je deviens une Petite fabacée au port grêle et aux feuilles imparipennées. */
p#maturite {
    width: 852px;
    height: 156px;
    left: 146px;
    top: 499px;
}

/* Mes fleurs sont minuscules, blanchâtres, à étendard veiné de rouge, carène jaunâtre et ailes écartées. */
p#minuscule {
    width: 852px;
    height: 156px;
    left: 146px;
    top: 690px;
}



/* nomeclature */
#nomenclature {
    position: absolute;
    width: 389px;
    height: 59px;
    left: 146px;
    top: 953px;
 
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


/* Je fait partie de groupes differets! */
p#groupediff{

    width: 797px;
    height: 52px;
    left: 146px;
    top: 1030px;
}
/* dans p */


/* Ordre : Fabales Famille : Fabaceae Genre : Ornithopus */
.psansrgba {
    position: absolute;
    width: 409px;
    height: 156px;
    left: 139px;
    top: 1129px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 52px;

    color: #FFFFFF;
}
/* Noms vernaculaires : Pied-d'oiseau délicat */
p#vernaculaire {

    width: 904px;
    height: 52px;
    left: 146px;
    top: 1324px;

}

/* orni 3 */
#orni3 {
    position: absolute;
    width: 477px;
    height: 1104px;
    left: 1156px;
    top: 170px;
    
    background: url(orni.jpg);
    border-radius: 292px;
}

/* orni 2 */
#orni2 {
    position: absolute;
    width: 597px;
    height: 845px;
    left: 1395px;
    top: 768px;
    
    background: url(orni.jpg);
    border-radius: 276px;
    
}


/* Ellipse 10 */
/*
position: absolute;
width: 227px;
height: 214px;
left: 1519px;
top: 563px;

background: #000000;

*/
/* Taille plante 3-30cm */ /*p*/
#tailleplante {
    position: absolute;
    width: 217px;
    height: 132px;
    left: 1567px;
    top: 670px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
    
}



/* Diamètre corolle 3-5 mm */ /*p*/
#diametrecorolle {
    position: absolute;
    width: 383px;
    height: 132px;
    left: 1567px;
    top: 557px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
    
    
}


